@{
    ViewBag.Title = "3e.lviv.ua";
    ViewBag.ShowBreadCrumb = false;
}
@section featured {
    <section class="featured">
        <div class="carousel slide" id="myCarousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="" src="~/Content/images/carousel1.jpg">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Стабілізатори напруги.</h1>
                            <p class="lead">Надійні захисники Вашої побутової техніки. Вони не тільки допоможуть захистисти електротехніку, а й зможуть подовжить термін її служби, та допоможуть заощадити коштию</p>
                            <a href="@Url.Action("index", "avr")" class="btn btn-large btn-primary">Переглянути</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img alt="" src="~/Content/images/carousel2.jpg">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Example headline.</h1>
                            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <a href="#" class="btn btn-large btn-primary">Sign up today</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img alt="" src="~/Content/images/carousel3.jpg">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Example headline.</h1>
                            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <a href="#" class="btn btn-large btn-primary">Sign up today</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img alt="" src="~/Content/images/carousel4.jpg">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Example headline.</h1>
                            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <a href="#" class="btn btn-large btn-primary">Sign up today</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img alt="" src="~/Content/images/carousel5.jpg">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Example headline.</h1>
                            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <a href="#" class="btn btn-large btn-primary">Sign up today</a>
                        </div>
                    </div>
                </div>
            </div>
            <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
            <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
        </div>
    </section>
}
<div class="row-fluid">
    <div class="span4">
        <div class="thumbnail">
            <a class="thumbnail thumbnail-inner" href="@Url.Action("index", "avr")">
                <img src="~/Content/images/tile1.jpg" /></a>
            <div class="caption">
                <p><strong class="text-success">Стабілізатори напругу</strong> - надійні захисники Вашої побутової техніки. Вони не тільки допоможуть захистисти електротехніку, а й зможуть подовжить термін її служби, та допоможуть заощадити кошти.</p>
                <p>
                    <span class="tileheader">Виробники: </span>
                    <a href="@Url.Action("index", "avr", new { producers = "Phantom" })">Phantom</a>
                    <a href="@Url.Action("index", "avr", new { producers = "Volter" })">Volter</a>
                    <a href="@Url.Action("index", "avr", new { producers = "Luxeon" })">Luxeon</a>
                </p>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="thumbnail">
            <a class="thumbnail thumbnail-inner" href="@Url.Action("index", "ups")">
                <img src="~/Content/images/tile2.jpg" /></a>
            <div class="caption">
                <p><strong class="text-success">Джерела Безперебійного Живлення</strong> - забезпечать Ваш дім електроенергією у період її відсутності. Є незамінними помічниками приладів для яких наявність постійного живлення є обов'язковою.</p>
                <p>
                    <span class="tileheader">Виробники: </span>
                    <a href="@Url.Action("index", "ups", new { producers = "Luxeon" })">Luxeon</a>
                    <a href="@Url.Action("index", "ups", new { producers = "Volter" })">Volter</a>
                </p>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="thumbnail">
            <a class="thumbnail thumbnail-inner" href="@Url.Action("index", "battery")">
                <img src="~/Content/images/tile3.jpg" /></a>
            <div class="caption">
                <p><strong class="text-success">Акумулятори</strong> - дозволять накопичувати електроенергію для майбутнього використання. Є невідмємною частиною альтернативних джерел живлення.</p>
                <p>
                    <span class="tileheader">Виробники: </span>
                    <a href="@Url.Action("index", "battery", new { producers = "Luxeon" })">Luxeon</a>
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row-fluid">
    <div class="span4">
        <div class="thumbnail">
            <a class="thumbnail thumbnail-inner" href="@Url.Action("index", "voltagerelay")">
                <img src="~/Content/images/tile4.jpg" /></a>
            <div class="caption">
                <p><strong class="text-success">Реле напруги</strong> - захистять Вашу техніку від нестабільної мережі відімкнивши її від мережі електропостачання у небезпечний періодю</p>
                <p>
                    <span class="tileheader">Виробники: </span>
                    <a href="@Url.Action("index", "voltagerelay", new { producers = "Энергохит" })">Энергохит</a>
                    <a href="@Url.Action("index", "voltagerelay", new { producers = "Volter" })">Volter</a>
                </p>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="thumbnail">
            <a class="thumbnail thumbnail-inner" href="@Url.Action("index", "converter")">
                <img src="~/Content/images/tile5.jpg" /></a>
            <div class="caption">
                <p><strong class="text-success">Перетворювачі напруги</strong> - втомобільний перетворювач напруги 12 220 DC/AC (автомобільний інвертор) служить для перетворення напруги постійного струму 12 В в напругу змінного струму 220 В</p>
                <p>
                    <span class="tileheader">Виробники: </span>
                    <a href="@Url.Action("index", "converter", new { producers = "Luxeon" })">Luxeon</a>                    
                </p>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="thumbnail">
            <a class="thumbnail thumbnail-inner" href="@Url.Action("index", "voltagerelay")">
                <img src="~/Content/images/tile6.jpg" /></a>
            <div class="caption">
                <p><strong class="text-success">Зарядні пристроїі</strong> - захистять Вашу техніку нестабільної мережі відімкнивши її від мережі електропостачання у небезпечний періодю</p>
                <p>
                    <span class="tileheader">Виробники: </span>
                    <a href="@Url.Action("index", "converter", new { producers = "Luxeon" })">Luxeon</a>
                </p>
            </div>
        </div>
    </div>
</div>
