@model WebMarket.Core.DetailsViewModel
@{
    ViewBag.Title = string.Format("Стабілізотор напруги: {0}", Model.Product.DisplayName);
}
@section scripts
{
    @Scripts.Render("~/bundles/app")
    <script type="text/javascript" src="/Content/yoxview/yoxview-init.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".yoxview").yoxview();
        });
    </script>
}
@section breadCrumb {
    <li><a href="@Url.RouteUrl("categoryBase", new { category = Model.Product.CategoryName})">@Model.Metadata.DisplayCategory</a><span class="divider">/</span></li>
    <li class="active">@Model.Product.DisplayName</li>
}
@Html.Partial("ProductDetailTemplate", Model.Product)
