@model WebMarket.Core.DetailsViewModel
@{
    ViewBag.Title = string.Format("{0} - {1}", Model.Metadata.TitleDetails, Model.Product.DisplayName);
    ViewBag.MetaDescription = string.Format("{0} - {1}, Виробник: {2}, Тип: {3}, Ціна: {4} грн./{5} $, Гарантія: {6} м.", 
        Model.Metadata.TitleDetails, 
        Model.Product.DisplayName, 
        Model.Product.Producer.Name,
        Model.Product.Group.DisplayName, 
        Model.Product.CalculatedPrice.PriceFinalUah, 
        Model.Product.CalculatedPrice.PriceFinalUsd, 
        Model.Product.Warranty);
}
@section head {
    <link rel="canonical" href="@Url.RouteUrl("categoryAction", new RouteValueDictionary(new { category = Model.Product.CategoryName, name = Model.Product.Name, action="details" }), Request.Url.Scheme, Request.Url.Host)">
}
@section scripts
{
    @Scripts.Render("~/bundles/app")
    <script type="text/javascript" src="/Content/yoxview/yoxview-init.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".yoxview").yoxview();
        });
    </script>
}
@section breadCrumb {
    <li><a href="@Url.RouteUrl("categoryBase", new { category = Model.Product.CategoryName})">@Model.Metadata.DisplayCategory</a><span class="divider">/</span></li>
    <li class="active">@Model.Product.DisplayName</li>
}
@Html.Partial("ProductDetailTemplate", Model.Product)
