@model WebMarket.Core.FilterViewModelBase<WebMarket.DAL.Entities.Product>
@{
    ViewBag.Title = Model.Metadata.TitleList;
    ViewBag.MetaDescription = Model.Metadata.MetaListDescription;
}
@section scripts
{
    @Scripts.Render("~/bundles/app")
}
@section head {
    <link rel="canonical" href="@Url.RouteUrl("categoryAction", new RouteValueDictionary(new { category = Model.Category, action = string.Empty }), Request.Url.Scheme, Request.Url.Host)">
}
@section breadCrumb {
    <li class="active">@Model.Metadata.DisplayCategory</li>
}
<div>
    <span class="lead">@Model.Metadata.DisplayCategory</span>
    <span class="pull-right">
        @Html.Partial("ControlSort", Model.Sort)
        @Html.Partial("ControlPageSize", Model.PageSize)
    </span>
</div>
<hr />
<div class="row">
    <div class="col-md-3">
        @if (!Model.Filters.IsEmpty())
        {
            <div class="alert alert-filter">
                @Html.Partial("FilterSelectedByProducers", Model.Filters.GetFilter("producers"))
                @Html.Partial("FilterSelectedByType", Model.Filters.GetFilter("gr"))
                @* @Html.Partial("FilterSelectedByPowerCapacity", Model)*@
                @if (Model.Pagging.List.TotalItemCount != Model.Count)
                {
                    <div>
                        <span class="badge badge-success">@Model.Pagging.List.TotalItemCount</span> <span>з
                        </span><span class="badge">@Model.Count</span>
                    </div>
                }
                <a href="@Url.RouteUrl("categoryAction", new { category = Model.Category, action = string.Empty })">Забрати всі фільтри</a>
            </div>
        }
        <div class="well">
            <p>
                Підбір за параметрами:
            </p>
            <div class="entityFilterContainer">
                @Html.Partial("FilterByProducers", Model.Producers)
                @Html.Partial("FilterByType", Model.Groups)
                @* @Html.Partial("FilterAvrByPower", Model)*@
            </div>
            @Html.Partial("FilterButton")
        </div>
    </div>
    <div class="col-md-9">
        <div>
            <div>
                @Html.Partial("ProductListTemplate", Model.Pagging)
            </div>
        </div>
    </div>
</div>
