@{
    ViewBag.Title = "Стабілізатори напруги, нормалізатори, ББЖ, ДБЖ, UPS, резервне живлення";
    ViewBag.ShowBreadCrumb = false;
    ViewBag.MetaDescription = "Стабілізатори напруги, нормалізатори напруги, ББЖ, ДБЖ, UPS, упс, акумулятори, відсікачі, резервне живлення. Найкращі ціни у Львові, доставка по Україні";
}
@section featured {
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img alt="900x500" src="~/Content/images/carousel1.jpg" />

                <div class="carousel-caption-landing carousel-caption-landing-left">
                    <h1>Стабілізатори напруги відчизняного виробництва.</h1>
                    <p class="lead">Надійні захисники Вашої побутової техніки. Вони не тільки допоможуть захистисти електротехніку, а й зможуть подовжить термін її служби, та допоможуть заощадити кошти.</p>
                    <a href="@Url.RouteUrl("categoryBase", new { category = "avr" })" class="btn btn-default btn-lg btn-primary">Переглянути</a>
                </div>

            </div>
            <div class="item">
                <img alt="900x500" src="~/Content/images/carousel2.jpg" />

                <div class="carousel-caption-landing carousel-caption-landing-left">
                    <h1>Стабілізатори напруги.</h1>
                    <p class="lead">Надійні захисники Вашої побутової техніки. Вони не тільки допоможуть захистисти електротехніку, а й зможуть подовжить термін її служби, та допоможуть заощадити коштию</p>
                    <a href="@Url.RouteUrl("categoryBase", new { category = "avr" })" class="btn btn-default btn-lg btn-primary">Переглянути</a>
                </div>

            </div>
            <div class="item">
                <img alt="900x500" src="~/Content/images/carousel3.jpg" />

                <div class="carousel-caption-landing carousel-caption-landing-left">
                    <h1>ДБЖ.</h1>
                    <p class="lead">Джерела безперебійного живлення - забезпечатять постійною стабільною електроенергією будь-яку електротехніку (комп'ютер, котел, телевізор, акустичі системи).</p>
                    <a href="@Url.RouteUrl("categoryBase", new { category = "ups" })" class="btn btn-default btn-lg btn-primary">Переглянути</a>
                </div>

            </div>
            <div class="item">
                <img alt="900x500" src="~/Content/images/carousel4.jpg" />

                <div class="carousel-caption-landing carousel-caption-landing-left">
                    <h1>Акумулятори.</h1>
                    <p class="lead">Накопичення енергії в будь-якій кількость: від звичайного ліхтарика до цілого будинку чи квартири.</p>
                    <a href="@Url.RouteUrl("categoryBase", new { category = "battery" })" class="btn btn-default btn-lg btn-primary">Переглянути</a>
                </div>

            </div>
            <div class="item">
                <img alt="900x500" src="~/Content/images/carousel5.jpg" />

                <div class="carousel-caption-landing carousel-caption-landing-right">
                    <h1>Автоматика.</h1>
                    <p class="lead">Автоматика для будь-яких потреб: реле напруги, часу, струму, терморегулятори, вольтметри.</p>
                    <a href="@Url.RouteUrl("categoryBase", new { category = "voltage-relay" })" class="btn btn-default btn-lg btn-primary">Переглянути</a>
                </div>

            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <div class="img-thumbnail">
            <a class="img-thumbnail thumbnail-inner" href="@Url.RouteUrl("categoryBase", new { category = "avr" })">
                <img src="~/Content/images/tile1.jpg" /></a>
            <div class="caption">
                <p><strong class="text-success">Стабілізатори напругу</strong> - надійні захисники Вашої побутової техніки. Вони не тільки допоможуть захистисти електротехніку, а й зможуть подовжить термін її служби, та допоможуть заощадити кошти.</p>
                <p>
                    <span class="tileheader">Виробники: </span>
                    @Html.RouteLink("Phantom", "categoryBase", new { category = "avr", producers = "phantom" })
                    @Html.RouteLink("Volter", "categoryBase", new { category = "avr", producers = "volter" })
                    @Html.RouteLink("Luxeon", "categoryBase", new { category = "avr", producers = "luxeon" })
                    @Html.RouteLink("Вольт", "categoryBase", new { category = "avr", producers = "вольт" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="img-thumbnail">
            <a class="img-thumbnail thumbnail-inner" href="@Url.RouteUrl("categoryBase", new { category = "ups" })">
                <img src="~/Content/images/tile2.jpg" /></a>
            <div class="caption">
                <p><strong class="text-success">Джерела Безперебійного Живлення</strong> - забезпечать Ваш дім електроенергією у період її відсутності. Є незамінними помічниками приладів для яких наявність постійного живлення є обов'язковою.</p>
                <p>
                    <span class="tileheader">Виробники: </span>
                    @Html.RouteLink("Luxeon", "categoryBase", new { category = "ups", producers = "luxeon" })
                    @Html.RouteLink("Volter", "categoryBase", new { category = "ups", producers = "volter" })
                    @Html.RouteLink("Вольт", "categoryBase", new { category = "ups", producers = "вольт" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="img-thumbnail">
            <a class="img-thumbnail thumbnail-inner" href="@Url.RouteUrl("categoryBase", new { category = "battery" })">
                <img src="~/Content/images/tile3.jpg" /></a>
            <div class="caption">
                <p><strong class="text-success">Акумулятори</strong> - дозволять накопичувати електроенергію для майбутнього використання. Є невідмємною частиною альтернативних джерел живлення.</p>
                <p>
                    <span class="tileheader">Виробники: </span>
                    @Html.RouteLink("Luxeon", "categoryBase", new { category = "battery", producers = "luxeon" })
                    @Html.RouteLink("Ventura", "categoryBase", new { category = "battery", producers = "ventura" })
                    @Html.RouteLink("B.B. Battery", "categoryBase", new { category = "battery", producers = "b.b. battery" })
                    @Html.RouteLink("Vimar", "categoryBase", new { category = "battery", producers = "vimar" })
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="img-thumbnail">
            <a class="img-thumbnail thumbnail-inner" href="@Url.RouteUrl("categoryBase", new { category = "voltage-relay" })">
                <img src="~/Content/images/tile4.jpg" /></a>
            <div class="caption">
                <p><strong class="text-success">Реле напруги</strong> - захистять Вашу техніку від нестабільної мережі відімкнувши її від мережі електропостачання у небезпечний періодю</p>
                <p>
                    <span class="tileheader">Виробники: </span>
                    @Html.RouteLink("Энергохит", "categoryBase", new { category = "voltage-relay", producers = "энергохит" })
                    @Html.RouteLink("Volter", "categoryBase", new { category = "voltage-relay", producers = "volter" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="img-thumbnail">
            <a class="img-thumbnail thumbnail-inner" href="@Url.RouteUrl("categoryBase", new { category = "converter" })">
                <img src="~/Content/images/tile5.jpg" /></a>
            <div class="caption">
                <p><strong class="text-success">Перетворювачі напруги</strong> - втомобільний перетворювач напруги 12 220 DC/AC (автомобільний інвертор) служить для перетворення напруги постійного струму 12 В в напругу змінного струму 220 В</p>
                <p>
                    <span class="tileheader">Виробники: </span>
                    @Html.RouteLink("Luxeon", "categoryBase", new { category = "converter", producers = "luxeon" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="img-thumbnail">
            <a class="img-thumbnail thumbnail-inner" href="@Url.RouteUrl("categoryBase", new { category = "charger" })">
                <img src="~/Content/images/tile6.jpg" /></a>
            <div class="caption">
                <p><strong class="text-success">Зарядні пристроїі</strong> - захистять Вашу техніку нестабільної мережі відімкнивши її від мережі електропостачання у небезпечний періодю</p>
                <p>
                    <span class="tileheader">Виробники: </span>
                    @Html.RouteLink("Luxeon", "categoryBase", new { category = "charger", producers = "luxeon" })
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <a href="http://top100.rambler.ru/navi/3025971/">
            <img src="http://counter.rambler.ru/top100.cnt?3025971" alt="Rambler's Top100" border="0" />
        </a>
    </div>
    <div class="col-md-1">
        <a href='http://www.stat24.meta.ua' target='_blank'>
            <img alt='МЕТА - Украина. Рейтинг сайтов' border='0' src='http://stat24.meta.ua/img/counter/11.gif' /></a>
    </div>
    <div class="col-md-1">
        <a href="http://catalog.lviv.ua">
            <img src="http://catalog.lviv.ua/banners/knopka.gif" alt="Львівський каталог сайтів" border="0" width="88" height="31"></a>
    </div>
    <div class="col-md-1">
        <script type="text/javascript">
            document.write("<a href='http://www.liveinternet.ru/click' " +
                "target=_blank><img src='//counter.yadro.ru/hit?t19.6;r" +
                escape(document.referrer) + ((typeof (screen) == "undefined") ? "" :
                    ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                        screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                ";" + Math.random() +
                "' alt='' title='LiveInternet: number of pageviews for 24 hours," +
                " of visitors for 24 hours and for today is shown' " +
                "border='0' width='88' height='31'><\/a>")
        </script>
    </div>
    <div class="col-md-1">
        <a href="http://zakladka.org.ua/category-8.html" title="Україномовні сайти">
            <img src="http://zakladka.org.ua/image/zakladka_button.gif" border="0" width="88" height="31" alt="каталог сайтів">
        </a>
    </div>
    <div class="col-md-1">
        <a href="http://zakladka.org.ua" title="Каталог україномовних сайтів">
            <img src="http://zakladka.org.ua/button.google.png" border="0" width="88" height="31" alt="Каталог україномовних сайтів">
        </a>
    </div>
    <div class="col-md-1">
        <a href="http://zakladka.org.ua" title="Каталог україномовних сайтів">
            <img src="http://zakladka.org.ua/button.yandex.png" border="0" width="88" height="31" alt="Каталог україномовних сайтів">
        </a>
    </div>
    <div class="col-md-1">
        <a href="http://www.vox.com.ua/" target="_blank">
            <img src="http://www.vox.com.ua/button.gif" alt="[Vox.com.ua] Портал українця" width="88" height="31" border="0"></a>
    </div>
    <div class="col-md-1">
        <a href="http://reklama.vn.ua/" onclick='this.href="http://reklama.vn.ua/?in=ВАШ_ID";'>
            <img src="http://reklama.vn.ua/pic/knopka.jpg" width="88" height="31" border="0" alt="Всеукраїнський сайт безкоштовної реклами"></a>
    </div>
    <div class="col-md-1">
        <a href="http://www.bigmir.net/" target="_blank">
            <img src="http://c.bigmir.net/?v16934166&s16934166&t2" width="88" height="31" alt="bigmir)net TOP 100" title="bigmir)net TOP 100" border="0" />
        </a>
    </div>
    <div class="col-md-1">
        <a href="http://www.i.ua/" target="_blank" onclick="this.href='http://i.ua/r.php?181699';" title="Rated by I.UA">
            <script type="text/javascript" language="javascript">
                iS = '<img src="' + (window.location.protocol == 'https:' ? 'https' : 'http') +
                    '://r.i.ua/s?u181699&p62&n' + Math.random();
                iD = document; if (!iD.cookie) iD.cookie = "b=b; path=/"; if (iD.cookie) iS += '&c1';
                iS += '&d' + (screen.colorDepth ? screen.colorDepth : screen.pixelDepth)
                    + "&w" + screen.width + '&h' + screen.height;
                iT = iR = iD.referrer.replace(iP = /^[a-z]*:\/\//, ''); iH = window.location.href.replace(iP, '');
                ((iI = iT.indexOf('/')) != -1) ? (iT = iT.substring(0, iI)) : (iI = iT.length);
                if (iT != iH.substring(0, iI)) iS += '&f' + escape(iR);
                iS += '&r' + escape(iH);
                iD.write(iS + '" border="0" width="88" height="31" />');
            </script>
        </a>
    </div>
    <div class="col-md-1">
        <a href="http://rating.vn.ua/?fromsite=3275" target="_blank">
            <img src="http://rating.vn.ua/img.php?id=3275" border="0" alt="Рейтинг винницких сайтов" width="88" height="31"></a>
    </div>
    <div class="col-md-1">
        <a target="_blank" href="http://ukrkatalog.info/">
            <img border="0" src="http://ukrkatalog.info/banner.jpg" alt="український каталог" width="88" height="31" /></a>
    </div>
    <div class="col-md-1">
        <a target='_new' href="http://www.bizinform.net">
            <img src="http://www.bizinform.net/resurs/but.gif" width="88" height="31" border="0" alt="Б И З Н Е С - И Н Ф О Р М - Каталог фирм, предприятий, товаров и услуг Украины"></a>
    </div>
    <div class="col-md-1">
        <a href="http://top.mail.ru/jump?from=2525066">
            <img src="//top-fwz1.mail.ru/counter?id=2525066;t=479;l=1"
                style="border: 0;" height="31" width="88" alt="Рейтинг@Mail.ru" /></a>
        <!-- //Rating@Mail.ru logo -->
    </div>
    <div class="col-md-1">
        <!-- MyCounter v.2.0 -->
        <script type="text/javascript"><!--
    my_id = 142237;
    my_width = 88;
    my_height = 31;
    my_alt = "MyCounter - счётчик и статистика";
    //--></script>
        <script type="text/javascript"
            src="http://scripts.mycounter.ua/counter2.0.js">
        </script>
        <noscript>
            <a target="_blank" href="http://mycounter.ua/">
                <img
                    src="http://get.mycounter.ua/counter.php?id=142237"
                    title="MyCounter - счётчик и статистика"
                    alt="MyCounter - счётчик и статистика"
                    width="88" height="31" border="0" /></a>
        </noscript>
        <!--/ MyCounter -->
    </div>
</div>
@section scripts
{
    <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?3025971"></script>
    <script type='text/javascript'>
        var st24Date = (new Date()).getTime();
        var st24Src = 'http://ua5.hit.stat24.com/_' + st24Date;
        st24Src += '/script.js?id=';
        st24Src += '..6Q1DyUo50V_OMyLUN61McP.h3wPIecXIDmL29F0zb.F7/l=11';
        var st24Tg = '<' + 'scr' + 'ipt type="text/javascript" src="';
        document.writeln(st24Tg + st24Src + '"></' + 'scr' + 'ipt>');
    </script>
    <script type="text/javascript" language="javascript">
        function BM_Draw(oBM_STAT) {
            document.write('<table cellpadding="0" cellspacing="0" border="0" style="display:inline;margin-right:4px;"><tr><td><div style="margin:0px;padding:0px;font-size:1px;width:88px;"><div style="background:url(\'http://i.bigmir.net/cnt/samples/diagonal/b63_top.gif\') no-repeat bottom;"> </div><div style="font:10px Tahoma;background:url(\'http://i.bigmir.net/cnt/samples/diagonal/b63_center.gif\');"><div style="text-align:center;"><a href="http://www.bigmir.net/" target="_blank" style="color:#0000ab;text-decoration:none;font:10px Tahoma;">bigmir<span style="color:#ff0000;">)</span>net</a></div><div style="margin-top:3px;padding: 0px 6px 0px 6px;color:#12351d;"><div style="float:left;font:10px Tahoma;">' + oBM_STAT.hosts + '</div><div style="float:right;font:10px Tahoma;">' + oBM_STAT.hits + '</div></div><br clear="all"/></div><div style="background:url(\'http://i.bigmir.net/cnt/samples/diagonal/b63_bottom.gif\') no-repeat top;"> </div></div></td></tr></table>');
        }

    </script>
    <script type="text/javascript" language="javascript">
        bmN = navigator, bmD = document, bmD.cookie = 'b=b', i = 0, bs = [], bm = { o: 1, v: 16934166, s: 16934166, t: 0, c: bmD.cookie ? 1 : 0, n: Math.round((Math.random() * 1000000)), w: 0 };
        for (var f = self; f != f.parent; f = f.parent) bm.w++;
        try {
            if (bmN.plugins && bmN.mimeTypes.length && (x = bmN.plugins['Shockwave Flash'])) bm.m = parseInt(x.description.replace(/([a-zA-Z]|\s)+/, ''));
            else for (var f = 3; f < 20; f++) if (eval('new ActiveXObject("ShockwaveFlash.ShockwaveFlash.' + f + '")')) bm.m = f
        } catch (e) {; }
        try { bm.y = bmN.javaEnabled() ? 1 : 0 } catch (e) {; }
        try { bmS = screen; bm.v ^= bm.d = bmS.colorDepth || bmS.pixelDepth; bm.v ^= bm.r = bmS.width } catch (e) {; }
        r = bmD.referrer.replace(/^w+:\/\//, ''); if (r && r.split('/')[0] != window.location.host) { bm.f = escape(r).slice(0, 400); bm.v ^= r.length }
        bm.v ^= window.location.href.length; for (var x in bm) if (/^[ovstcnwmydrf]$/.test(x)) bs[i++] = x + bm[x];
        bmD.write('<sc' + 'ript type="text/javascript" language="javascript" src="http://c.bigmir.net/?' + bs.join('&') + '"></sc' + 'ript>');
    </script>
    <script type="text/javascript">java = "1.0"; java1 = "" + "refer=" + escape(document.referrer) + "&page=" + escape(window.location.href); document.cookie = "astratop=1; path=/"; java1 += "&c=" + (document.cookie ? "yes" : "now");</script>
    <script type="text/javascript1.1">java = "1.1"; java1 += "&java=" + (navigator.javaEnabled() ? "yes" : "now")</script>
    <script type="text/javascript1.2">java = "1.2"; java1 += "&razresh=" + screen.width + 'x' + screen.height + "&cvet=" + (((navigator.appName.substring(0, 3) == "Mic")) ? screen.colorDepth : screen.pixelDepth)</script>
    <script type="text/javascript1.3">java = "1.3"</script>
    <script type="text/javascript">java1 += "&jscript=" + java + "&rand=" + Math.random(); document.write("<a href='http://rating.vn.ua/?fromsite=3275'><img " + " src='http://rating.vn.ua/img.php?id=3275&" + java1 + "&' border='0' alt='Рейтинг винницких сайтов' width='88' height='31'><\/a>");</script>
}