@model WebMarket.Models.Cart
@{
    ViewBag.Title = "Корзина";
}
@section breadCrumb {
    <li class="active">@ViewBag.Title</li>
}
@section scripts
{
    <script type="text/javascript" src="~/Content/js/cart.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.deleteFromCart').on('click', function (e) {
                var pid = $(this).closest('div').children('.pid').val();
                deleteFromCart(pid, function (e) {
                    window.location = "/cart";
                });
            });
        });
    </script>
}
<div class="lead">@ViewBag.Title</div>

@if (!@Model.Items.Any())
{
    <hr />
    <div class="alert alert-info">
        <strong>Увага!</strong><p>
            На даний момент у Вашій корзині немає товарів. Ви можете добавити товар в корзину
            вибравши товар та нажавши кнопку "Купити".
        </p>
    </div>
}
else
{
    <table class="table  table-hover">
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
            <div class="row-fluid">
                <div class="span3">
                    @Html.Partial("ProductPreviewSmall", item.Product)
                </div>
                <div class="span3">
                    <h4>@Html.ActionLink(item.Product.Name, "details", item.Product.Controller, new { id = item.Product.Id }, null)</h4>
                    <div class="muted">
                        Код: @item.Product.ProductId
                    </div>
                    <div>
                        @Html.Partial("ProductIsAvailable", item.Product)
                    </div>
                </div>

                <div class="span3">
                    <span class="badge badge-success">@item.Quantity</span> * <span >@item.Product.PriceUah грн.</span>
                </div>
                <div class="span2">
                    <span class="priceUahSmall">@item.TotalItemPrice грн.</span>
                </div>
                <div class="span1">
                    <input class="pid" type="hidden" value="@item.Product.ProductId" />
                    <button class="btn btn-mini deleteFromCart">
                        видалити</button>
                </div>
            </div>
                </td>
        </tr>
    }
        </table>
    <hr />
    <div class="row-fluid">
        <div class="span3 offset9">
            <span >Разом за замовлення:</span><span class="priceUah">@Model.TotalPrice грн.</span>
        </div>
        
    </div>
    <a id="purchase" href="@Url.Action("index", "order")" class="btn btn-large btn-primary pull-right">Оформити замовленя</a> 
}