@model List<WebMarket.DAL.Entities.Callback>
@using WebMarket.Extensions
@{
    ViewBag.Title = "Запити передзвонити";
}
@section breadCrumb {
    <li><a href="@Url.Action("index", "admin")">Адміністрування</a></li>
    <li class="active">@ViewBag.Title</li>
}
<span class="lead">@ViewBag.Title</span>
<hr />
@if (Model.Any())
{
    <table class="table table-condensed table-bordered table-hover">
        <thead>
            <td>Дата</td>
            <td>Номер</td>
            <td>Лінк</td>
            <td>Статус</td>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="@item.Status.CssClass()">
                    <td>@item.CreateTime</td>
                    <td>@item.Phone</td>
                    <td><a href="@item.Url">@item.Url</a></td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>
}
