@model WebMarket.Models.LocalPasswordModel
@{
    ViewBag.ShowBreadCrumb = false;
}

@using (Html.BeginForm("Manage", "Account")) {
    <fieldset>
        <legend>Change Password Form</legend>
        
            <div>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { @class = "input-block-level" })
            </div>
            <div>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "input-block-level" })
            </div>
            <div>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-block-level" })
            </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <button type="submit" class="btn btn-large btn-block btn-primary">Change password</button>
    </fieldset>
}
