@using WebMarket.Security
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("index", "home")">
                        <img src="~/Content/images/logo.png" alt="Домівка" />
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="navbar-collapse collapse">
                    <div class="navbar-form navbar-right menu-form">
                        @if (!User.IsAdministrator())
                        {
                            <div class="btn-group">
                                <a class="btn btn-default btn-primary" href="@Url.Action("index", "cart")"><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;Корзина<span id="cartTotalCount" class="badge badge-success">@ViewData["CartTotalCount"]</span></a>
                                <a class="btn btn-default btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div style="padding: 3px 20px;"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Разом: <span id="cartTotalSum" class="priceUahSmall">@ViewData["CartTotalSum"]</span><span class="priceUahSmall"> грн.</span></div>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("index", "order")"><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;Оформити замовлення</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div class="btn-group">
                                <button class="btn btn-default btn-primary"><i class="glyphicon glyphicon-user"></i>&nbsp;@User.Identity.Name</button>
                                <a class="btn btn-default btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("index", "admin")" class=""><i class="glyphicon glyphicon-edit"></i>Адміністрування</a></li>
                                    <li>
                                        <div>
                                            @using (Html.BeginForm("logoff", "account", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken();
                                                <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Вийти</button>
                                            }
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                    <form class="navbar-form navbar-right menu-form" action="@Url.Action("index", "search")">
                        <div class="form-group">
                            <input type="text" name="keyword" class="form-control" placeholder="Введіть назву товару..." />

                            <button type="submit" class="btn btn-default btn-success">Шукати</button>
                        </div>
                    </form>

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Стабілізатори <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.RouteLink("Релейні", "categoryBase", new { category = "avr", producers = "", gr = "relay" })</li>
                                <li>@Html.RouteLink("Сервомоторні", "categoryBase", new { category = "avr", producers = "", gr = "servo" })</li>
                                <li>@Html.RouteLink("Тиристорні", "categoryBase", new { category = "avr", producers = "", gr = "teristor" })</li>
                                <li>@Html.RouteLink("Симісторні", "categoryBase", new { category = "avr", producers = "", gr = "semistor" })</li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Виробники</li>
                                <li>@Html.RouteLink("Phantom", "categoryBase", new { category = "avr", producers = "phantom" })</li>
                                <li>@Html.RouteLink("Volter", "categoryBase", new { category = "avr", producers = "volter" })</li>
                                <li>@Html.RouteLink("Luxeon", "categoryBase", new { category = "avr", producers = "luxeon" })</li>
                                <li>@Html.RouteLink("Вольт", "categoryBase", new { category = "avr", producers = "volt" })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Реле <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.RouteLink("Реле напруги", "categoryBase", new { category = "voltage-relay" })</li>
                                <li>@Html.RouteLink("Реле струму", "categoryBase", new { category = "current-relay" })</li>
                                <li>@Html.RouteLink("Реле часу", "categoryBase", new { category = "time-relay" })</li>
                                <li>@Html.RouteLink("Терморегулятори", "categoryBase", new { category = "temperature-controller" })</li>
                                <li>@Html.RouteLink("Вольтметри", "categoryBase", new { category = "voltmeter" })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Акумулятори <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.RouteLink("Кислотно-лужні", "categoryBase", new { category = "battery", producers = "", gr = "agm" })</li>
                                <li>@Html.RouteLink("Гелеві", "categoryBase", new { category = "battery", producers = "", gr = "gel" })</li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Виробники</li>
                                <li>@Html.RouteLink("Luxeon", "categoryBase", new { category = "battery", producers = "luxeon" })</li>
                                <li>@Html.RouteLink("Ventura", "categoryBase", new { category = "battery", producers = "ventura" })</li>
                                <li>@Html.RouteLink("B.B. Battery", "categoryBase", new { category = "battery", producers = "BBbattery" })</li>
                                <li>@Html.RouteLink("Vimar", "categoryBase", new { category = "battery", producers = "vimar" })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">ББЖ <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.RouteLink("Комп'ютерні", "categoryBase", new { category = "ups", producers = "", gr = "offline" })</li>
                                <li>@Html.RouteLink("Інтерактивні", "categoryBase", new { category = "ups", producers = "", gr = "lineinteractive" })</li>
                                <li>@Html.RouteLink("On-line", "categoryBase", new { category = "ups", producers = "", gr = "online" })</li>
                                <li>@Html.RouteLink("ББЖ-зарядки", "categoryBase", new { category = "ups", producers = "", gr = "upscharger" })</li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Виробники</li>
                                <li>@Html.RouteLink("Luxeon", "categoryBase", new { category = "ups", producers = "luxeon" })</li>
                                <li>@Html.RouteLink("Volter", "categoryBase", new { category = "ups", producers = "volter" })</li>
                                <li>@Html.RouteLink("Вольт", "categoryBase", new { category = "ups", producers = "volt" })</li>
                            </ul>
                        </li>
                        <li>@Html.RouteLink("Зарядки", "categoryBase", new { category = "charger" })</li>
                        <li>@Html.RouteLink("Перетворювачі", "categoryBase", new { category = "converter" })</li>
                        <li>@Html.ActionLink("Контакти", "contact", "home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
