<div class="nav navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner ">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <a class="brand" href="@Url.Action("index", "home")">
                        <img class="logo" src="~/Content/images/logo.png" alt="Домівка" />
                    </a>
                </div>
                <div class="span9">
                    <div class="pull-right">
                        <form class="navbar-search" action="@Url.Action("index", "search")">
                            <input type="text" name="keyword" class="input-medium search-query" placeholder="Введіть назву товару..." style="margin-top: 4px; width: 200px">
                            <button type="submit" class="btn btn-success">Шукати</button>
                        </form>
                        <ul class="nav" style="margin-top: 5px; margin-left: 20px">
                            <li>
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="@Url.Action("index", "cart")"><i class="icon-shopping-cart icon-white"></i>Корзина<span id="cartTotalCount" class="badge badge-success">@ViewData["CartTotalCount"]</span></a>
                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span
                                                                                                                   class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div style="padding: 3px 20px;"><i class="icon-list-alt"></i>Разом: <span id="cartTotalSum" class="priceUahSmall">@ViewData["CartTotalSum"]</span><span class="priceUahSmall"> грн.</span></div>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("index", "order")"><i class="i"></i>Оформити замовлення</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div class="navcontainer">
                            <ul class="nav">
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Стабілізатори <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.RouteLink("Релейні","categoryBase", new {category = "avr", type = "релейні" })</li>
                                        <li>@Html.RouteLink("Сервомоторні","categoryBase", new {category = "avr", type = "сервомоторні" })</li>
                                        <li>@Html.RouteLink("Тиристорні","categoryBase", new {category = "avr", type = "тиристорні" })</li>
                                        <li>@Html.RouteLink("Симісторні","categoryBase", new {category = "avr", type = "симісторні" })</li>
                                        <li class="divider"></li>
                                        <li class="nav-header">Виробники</li>
                                        <li>@Html.RouteLink("Phantom","categoryBase", new {category = "avr", producers = "phantom"})</li>
                                        <li>@Html.RouteLink("Volter","categoryBase", new {category = "avr", producers = "volter"})</li>
                                        <li>@Html.RouteLink("Luxeon","categoryBase", new {category = "avr", producers = "luxeon"})</li>
                                        <li>@Html.RouteLink("Вольт","categoryBase", new {category = "avr", producers = "вольт"})</li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Реле <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.RouteLink("Реле напруги","categoryBase", new {category = "voltage-relay"})</li>
                                        <li>@Html.RouteLink("Реле струму","categoryBase", new {category = "current-relay"})</li>
                                        <li>@Html.RouteLink("Реле часу","categoryBase", new {category = "time-relay"})</li>
                                        <li>@Html.RouteLink("Терморегулятори","categoryBase", new {category = "temperature-controller"})</li>
                                        <li>@Html.RouteLink("Вольтметри","categoryBase", new {category = "voltmeter"})</li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Акумулятори <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.RouteLink("Кислотно-лужні","categoryBase", new {category = "battery", type = "кислотно-лужні"})</li>
                                        <li>@Html.RouteLink("Гелеві","categoryBase", new {category = "battery", type = "гелеві"})</li>
                                        <li class="divider"></li>
                                        <li class="nav-header">Виробники</li>
                                        <li>@Html.RouteLink("Luxeon","categoryBase", new {category = "battery", producers = "luxeon"})</li>
                                        <li>@Html.RouteLink("Ventura","categoryBase", new {category = "battery", producers = "ventura"})</li>
                                        <li>@Html.RouteLink("B.B. Battery","categoryBase", new {category = "battery", producers = "b.b. battery"})</li>
                                        <li>@Html.RouteLink("Vimar","categoryBase", new {category = "battery", producers = "vimar"})</li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">ББЖ <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.RouteLink("Комп'ютерні","categoryBase", new {category = "ups", type = "комп'ютерні"})</li>
                                        <li>@Html.RouteLink("Інтерактивні","categoryBase", new {category = "ups", type = "інтерактивні"})</li>
                                        <li>@Html.RouteLink("On-line","categoryBase", new {category = "ups", type = "on-line"})</li>
                                        <li>@Html.RouteLink("ББЖ-зарядки","categoryBase", new {category = "ups", type = "ббж-зарядки"})</li>
                                        <li class="divider"></li>
                                        <li class="nav-header">Виробники</li>
                                        <li>@Html.RouteLink("Luxeon","categoryBase", new {category = "ups", producers = "luxeon"})</li>
                                        <li>@Html.RouteLink("Volter","categoryBase", new {category = "ups", producers = "volter"})</li>
                                        <li>@Html.RouteLink("Вольт","categoryBase", new {category = "ups", producers = "вольт"})</li>
                                    </ul>
                                </li>
                                <li>@Html.RouteLink("Зарядки","categoryBase", new {category = "charger"})</li>
                                <li>@Html.RouteLink("Перетворювачі","categoryBase", new {category = "converter"})</li>
                                @*<li>@Html.ActionLink("Інформація", "About", "home")</li>*@
                                <li>@Html.ActionLink("Контакти", "Contact", "home")</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>


            @*<div class="infotext">
                +38 063 15 12 110 Василь +38 067 33 57 863 Ігор
            </div>*@

        </div>
    </div>
</div>
