@model WebMarket.DAL.Entities.Product
@{
    ViewBag.Title = "ProductDeatails";
}

<div class="row-fluid">
    <div class="span4">
        <div>
            @Html.Partial("ProductPreview", Model)
        </div>
    </div>
    <div class="span8">
        <ul class="unstyled">
            <li>
                <div class="row-fluid">
                    <div class="span10">
                        <span class="muted">Характеристики </span><span class="lead text-info">@Model.DisplayName</span>
                    </div>
                    <div class="span2">
                        <span class="muted pull-right">Код: @Model.ProductId</span>
                    </div>
                </div>
            </li>
            <li>@Model.GetProductPreviewInfo()
            </li>
            <li>
                <div class="row-fluid">
                    <div class="span4">
                        @Html.Partial("PriceTemplate", Model)
                    </div>
                    <div class="span3">
                        @Html.Partial("ProductRate", Model)
                        @Html.Partial("ProductAvailability", Model)
                    </div>
                    <div class="span4">
                        <span>
                            <span>
                                <a id="buyBtn" class="btn btn-primary" href="#addToCartModal" data-toggle="modal" style="margin: 10px 0 0 0">Купити</a>
                            </span>
                            <span>
                                <a id="getCallBackBtn" class="btn btn-info" href="#callbackDialog" data-toggle="modal" style="margin: 10px 0 0 0">Передзвонити мені</a>
                            </span>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
        @Html.Partial("AddToCartModal", Model)
        @Html.Partial("CallbackModal")
    </div>
</div>
<div class="thumbnails yoxview">
    @foreach (var item in Model.GetPhotos())
    {            
        <a href="@string.Format("/Content/tiles/avr/{0}", item.Value)">
            <img src="@string.Format("/Content/tiles/avr/{0}", item.Key)" alt="First" title="WWWWWWWWWWWWWWWWWWWWWWWWWw" /></a>
    }
</div>
<div>
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-toggle="tab" href="#home">Технічні характеристики</a></li>
        <li class=""><a data-toggle="tab" href="#profile">Опис</a></li>
        <li class=""><a data-toggle="tab" href="#d">Комплектація</a></li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div id="home" class="tab-pane fade active in">
            <table class="table table-condensed table-bordered table-hover">
                <tbody>
                    @foreach (var item in Model.ProductInfo)
                    {
                        <tr>
                            <td>@item.Key
                            </td>
                            <td>
                                @item.Value
                            </td>
                        </tr>
                    }
                    @foreach (var item in Model.DynamicProperties)
                    {
                        <tr>
                            <td>
                                @item.Key
                            </td>
                            <td>
                                @{
                                    if (item.IsBool)
                                    {
                                        if ((bool)item.Value)
                                        {
                                            <span class="label label-success">+</span>
                                        }
                                        else
                                        {
                                            <span class="label label-important">-</span>
                                        }
                                    }
                                    else
                                    {
                                        @item.Value
                                    }
                                }
                                
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrWhiteSpace(@Model.WorkingConditions))
                    {
                        <tr>
                            <td>Робочі умови
                            </td>
                            <td>@Model.WorkingConditions
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrWhiteSpace(@Model.Dimension))
                    {
                        <tr>
                            <td>Розміри
                            </td>
                            <td>@Model.Dimension д/ш/в
                            </td>
                        </tr>
                    }
                    @if (Model.Weight > 0)
                    {
                        <tr>
                            <td>Вага
                            </td>
                            <td>@Model.Weight кг.
                            </td>
                        </tr>
                    }
                    @if (Model.Warranty > 0)
                    {
                        <tr>
                            <td>Гарантія
                            </td>
                            <td>@Model.Warranty м.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="profile" class="tab-pane fade ">
            <p>@Html.Raw(Model.Description)</p>
        </div>
        <div id="d" class="tab-pane fade ">
            <ol>
                @foreach (var item in Model.ParsedSuppliedItems)
                {
                    <li>
                        @item
                    </li>
                }
            </ol>
        </div>
    </div>
</div>
