@model WebMarket.Core.PagingViewModel
@using WebMarket.Extensions
@if (!Model.List.Any())
{
    <div class="alert alert-info">
        <strong>Увага!</strong><p>За вибранем критерієм не було знайденого жодного товару. Спробуйте змінити фільтр та натисніть кнопку <strong>"Фільтрувати"</strong> або натисніть</p>
        <a href='@Url.Action("Index", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())' >Забрати всі фльтри</a>
    </div>
}
else
{
    foreach (var item in Model.List)
    {
    <div class="thumbnail">
        <div class="row-fluid">
            <div class="span4">
                <div class="image-wrap2">
                    <span class="ribbon ribbon-list @item.CssRibbonClass()"></span>
                    @Html.Partial("ProductImageLink", item)
                </div>
            </div>
            <div class="span8">
                <ul class="unstyled">
                    <li>
                        <div class="row-fluid">
                            <div class="span8">
                                <h4>@Html.RouteLink(item.Name, "categoryAction", new { category = item.CategoryName, name = item.Name, action="details" })</h4>
                            </div>
                            <div class="span3">
                                <span class="muted pull-right">Код: @item.ProductId</span>
                            </div>
                        </div>
                    </li>
                    <li>@item.GetProductPreviewInfo()
                    </li>
                    <li>
                        <div class="row-fluid">
                            <div class="span4">
                                @Html.Partial("PriceTemplate", item)
                            </div>
                            <div class="span3">
                                @Html.Partial("ProductRate", item)
                                @Html.Partial("ProductAvailability", item)
                            </div>
                            <div class="span1">
                            </div>
                            <div class="span3">
                                <a class="btn btn-primary pull-right" href="@Url.RouteUrl("categoryAction", new { category = item.CategoryName, name = item.Name, action="details" })">Деталі»</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    }
    @Html.Partial("Pager", Model)
}