@using WebMarket.Models
@model WebMarket.Repository.Entities.Product
@{
    ViewBag.Title = "ProductDeatails";
}

<div class="row">
    <div class="col-md-4">
        <div>
            @Html.Partial("ProductPreview", Model)
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-10">
                <h1 class="details-header">@Model.Category.TitleDetails <b>@Model.DisplayName</b></h1>
            </div>
            <div class="col-md-2">
                <span class="disabled pull-right">Код: @Model.ProductId</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Model.GetProductPreviewInfo()
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Partial("PriceTemplate", Model)
            </div>
            <div class="col-md-3">
                @Html.Partial("ProductRate", Model)
                @Html.Partial("ProductAvailability", Model)
            </div>
            <div class="col-md-4">
                <span>
                    <span>
                        <a id="getCallBackBtn" class="btn btn-default btn-info" href="#callbackDialog" data-toggle="modal" style="margin: 10px 0 0 0">Передзвонити мені</a>
                    </span>
                    <span>
                        <a id="buyBtn" class="btn btn-default btn-primary" href="#addToCartModal" data-toggle="modal" style="margin: 10px 0 0 0">Купити</a>
                    </span>
                </span>
            </div>
        </div>
        @{
            var editModel = new EditItemModel
                {
                    EditUrl = @Url.RouteUrl("categoryAction", new RouteValueDictionary(new {category = Model.CategoryName, id = Model.Id, action = "edit"}), Request.Url.Scheme, Request.Url.Host),
                    DeleteUrl = @Url.RouteUrl("categoryAction", new RouteValueDictionary(new {category = Model.CategoryName, id = Model.Id, action = "delete"}), Request.Url.Scheme, Request.Url.Host)
                };
        }
        @Html.Partial("EditItemPartial", editModel)
        @Html.Partial("AddToCartModal", Model)
        @Html.Partial("CallbackModal")
    </div>
</div>
<div class="thumbnails yoxview">
    @foreach (var item in Model.GetPhotos())
    {            
        <a href="@string.Format("/Content/tiles/avr/{0}", item.Value)">
            <img src="@string.Format("/Content/tiles/avr/{0}", item.Key)" alt="First" title="WWWWWWWWWWWWWWWWWWWWWWWWWw" /></a>
    }
</div>
<div>
    @Html.Partial("ProductDynamicProperties", Model)
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Опис @Model.Category.TitleDetailsPossessive.ToLower() <b>@Model.DisplayName</b></h3>
        </div>
        <div class="panel-body">
            <p>@Html.Raw(Model.Description)</p>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Комплектація @Model.Category.TitleDetailsPossessive.ToLower() <b>@Model.DisplayName</b></h3>
        </div>
        <div class="panel-body">
            <ul>
                @foreach (var item in Model.GetParsedSuppliedItems(Model.Category))
                {
                    <li>
                        @item
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
