@model WebMarket.Repository.Entities.Product
@{
    ViewBag.Title = "ProductDynamicProperties.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Технічні характеристики <b>@Model.DisplayName</b></h3>
    </div>
    <table id="productDynamicProperties" class="table table-condensed table-bordered table-hover">
        <tbody>
            @foreach (var item in Model.ProductInfo)
            {
                <tr>
                    <td>@item.Key
                    </td>
                    <td>
                        @item.Value
                    </td>
                </tr>
            }
            @foreach (var item in Model.DynamicProperties)
            {
                <tr>
                    <td>
                        @item.Key
                    </td>
                    <td>
                        @{
                if (item.IsBool)
                {
                    if ((bool)item.Value)
                    {
                            <span class="label label-success">+</span>
                    }
                    else
                    {
                            <span class="label label-danger">-</span>
                    }
                }
                else
                {
                            @item.Value
                }
                        }

                    </td>
                </tr>
            }
            @if (!string.IsNullOrWhiteSpace(@Model.WorkingConditions))
            {
                <tr>
                    <td>Робочі умови
                    </td>
                    <td>@Model.WorkingConditions
                    </td>
                </tr>
            }
            @if (!string.IsNullOrWhiteSpace(@Model.Dimension))
            {
                <tr>
                    <td>Розміри
                    </td>
                    <td>@Model.Dimension д/ш/в
                    </td>
                </tr>
            }
            @if (Model.Weight > 0)
            {
                <tr>
                    <td>Вага
                    </td>
                    <td>@Model.Weight кг.
                    </td>
                </tr>
            }
            @if (Model.Warranty > 0)
            {
                <tr>
                    <td>Гарантія
                    </td>
                    <td>@Model.Warranty м.
                    </td>
                </tr>
            }
            <tr>
                <td>Виробник
                </td>
                <td>@{
                    if (string.IsNullOrEmpty(Model.Producer.HomePage))
                    {
                    @Model.Producer.DisplayName
                    }
                    else
                    {
                    @Html.ActionLink(Model.Producer.DisplayName, "details", "producer", new { name = Model.Producer.Name }, null)
                    }
                }
                </td>
            </tr>
        </tbody>
    </table>
</div>
