<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/bundles/bootstrap/css/")
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        @if (ViewBag.ShowHeader == null || ViewBag.ShowHeader == true)
        {
            <header>
               @Html.Partial("Header")
            </header>
        }
        <section>
            <div class="maincontentregion">
                <div>
                    @if (ViewBag.ShowBreadCrumb == null || ViewBag.ShowBreadCrumb == true)
                    {
                        <ul class="breadcrumb">
                            <li><a href="@Url.Action("Index", "home")">Домівка</a><span class="divider">/</span></li>
                            @RenderSection("breadCrumb", required: false)
                        </ul>
                    }
                    @RenderSection("featured", required: false)
                    <section>
                        @RenderBody()
                    </section>
                </div>
            </div>
        </section>
        @if (ViewBag.ShowFooter == null || ViewBag.ShowFooter == true)
        {
            <footer>
                @Html.Partial("Footer")
            </footer>
        }
    </div>

    @* <script src="~/Content/bootstrap/docs/assets/js/holder/holder.js"></script>
    <script src="~/Content/bootstrap/docs/assets/js/google-code-prettify/prettify.js"></script>
    <script src="~/Content/bootstrap/docs/assets/js/application.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
