@model PagedList.IPagedList<WebMarket.DAL.Entities.Product>
@if (!Model.Any())
{
    <div class="alert alert-info">
        <strong>Увага!</strong><p>За вибранем критерієм не було знайденого жодного товару. Спробуйте змінити фільтр та натисніть кнопку <strong>"Фільтрувати"</strong> або натисніть</p>
        <a href='@Url.Action("Index", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())' >Забрати всі фльтри</a>
    </div>
}


@foreach (var item in Model)
{
    <div class="thumbnail">
        <div class="row-fluid">
            <div class="span4">
                @Html.Partial("ProductPreview", item)
            </div>
            <div class="span8">
                <ul class="unstyled">
                    <li>
                        <div class="row-fluid">
                            <div class="span8">
                                <h4>@Html.ActionLink(item.Name, "details", new { id = item.Id })</h4>
                            </div>
                            <div class="span3">
                                <span class="muted pull-right">Код: @item.ProductId</span>
                            </div>
                        </div>
                    </li>
                    <li>@item.GetProductPreviewInfo()
                    </li>
                    <li>
                        <div class="row-fluid">
                            <div class="span4">
                                <div class="priceUah">@item.PriceUah грн.</div>
                                <div class="priceUsd">
                                    $ @item.PriceUsd
                                </div>
                            </div>
                            <div class="span3">
                                @Html.Partial("ProductRate", item)
                                @Html.Partial("ProductIsAvailable", item)
                            </div>
                            <div class="span1">
                            </div>
                            <div class="span3">
                                <a class="btn btn-primary pull-right" href="@Url.Action("details", new { id = item.Id })">Деталі»</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
}