@using WebMarket.Extensions
@model WebMarket.ViewModels.OrderDetailViewModel
@{
    ViewBag.Title = "Деталі замовлення";
}
@section breadCrumb {
    <li><a href="@Url.Action("list", "order")">Список замовлень</a></li>
    <li class="active">@ViewBag.Title</li>
}
<span class="lead">@ViewBag.Title</span>
<hr />

<div class="row">
    <div class="col-md-8">
        <table class="table table-condensed table-bordered table-hover">
            <thead>
                <td>Код товару</td>
                <td>Товар</td>
                <td>Ціна за одиницю</td>
                <td>Кількість</td>
                <td>Ціна за позицію</td>
            </thead>
            @foreach (var item in Model.Order.Items)
            {
                <tr>
                    <td>@Model.Products.Single(obj => obj.Id == item.ProductId).ProductId</td>
                    <td>
                        @Html.Partial("ProductPreviewSmall", Model.Products.Single(obj => obj.Id == item.ProductId))
                    </td>
                    <td>
                        @item.UnitPrice.ToFormatString() грн.
                    </td>
                    <td>@item.Quantity</td>
                    <td class="priceUahSmall">@item.TotalItemPrice.ToFormatString() грн.</td>
                </tr>
            }
        </table>
        @Html.Partial("TotalSum", Model.Order.Total)
    </div>
    <div class="col-md-4">
        <div class="well well-sm">
            <table class="table">
                <caption>Інформація</caption>
                <tr>
                    <td><strong>Номер замовлення</strong></td>
                    <td>@Model.Order.Id</td>
                </tr>
                <tr>
                    <td><strong>Користувач</strong></td>
                    <td>@Model.Order.User</td>
                </tr>
                <tr>
                    <td><strong>Телефон</strong></td>
                    <td>@Model.Order.Phone</td>
                </tr>
                <tr>
                    <td><strong>Пошта</strong></td>
                    <td>@Model.Order.Email</td>
                </tr>
                <tr>
                    <td><strong>Місто</strong></td>
                    <td>@Model.Order.City</td>
                </tr>
                <tr>
                    <td><strong>Адреса</strong></td>
                    <td>@Model.Order.Address</td>
                </tr>
                <tr>
                    <td><strong>Коментар</strong></td>
                    <td>@Model.Order.Comment</td>
                </tr>
                <tr>
                    <td><strong>Дата замовлення</strong></td>
                    <td>@Model.Order.CreationDate</td>
                </tr>
                <tr>
                    <td><strong>Статус</strong></td>
                    <td>@Model.Order.Status</td>
                </tr>
            </table>
        </div>
    </div>

</div>
