@model WebMarket.Repository.Entities.Order
@using WebMarket.Repository.Entities.Enums
@using WebMarket.Extensions;

@{
    ViewBag.Title = "Редагувати замовлення";
}

<span class="lead">@ViewBag.Title</span>
<hr />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)
    <div class="editor-field">
        @Html.DropDownListFor(model => model.Status, typeof(Status))
        @Html.ValidationMessageFor(model => model.Status)
    </div>
    <button class="btn btn-default btn-primary" type="submit">Save</button>
}