@using WebMarket.Extensions
@model WebMarket.Models.Cart
@{
    ViewBag.Title = "Оформлення замовлення";
}
@section breadCrumb {
    <li class="active">@ViewBag.Title</li>
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            function validate(control, regex) {
                if (typeof(regex) === 'undefined') regex = null;
                var val = control.val();
                var isValid = false;
                if(regex != null)
                {
                    isValid = regex.test(val);
                }
                if (!isValid) {
                    control.parents('.input-group').addClass('has-error');
                    control.parents('.input-group').removeClass('has-success');
                    control.parent().next().removeClass('hidden');
                    return false;
                }
                else {
                    control.parents('.input-group').removeClass('has-error');
                    control.parents('.input-group').addClass('has-success');
                    control.parent().next().addClass('hidden');
                    return true;
                }
            }

            var isUserNameValid;
            var isPhoneValid;
            var isEmailValid;
            var isPurchasing = false;

            function canPurchase()
            {
                if(isPurchasing) {
                    return false;
                }

                if(isUserNameValid && isPhoneValid && isEmailValid)
                {
                    $('#purchase').removeClass('disabled');
                    return true;
                }
                else
                {
                    $('#purchase').addClass('disabled'); 
                    return false;
                }
            }

            $("#userName").focusout(function () {
                isUserNameValid = validate($(this),/\D{3,}/);
                canPurchase();
            });

            $("#phone").focusout(function () {
                isPhoneValid = validate($(this), /^([0-9\(\)\/\+ \-]{7,})$/);       
                canPurchase();     
            });

            $("#email").focusout(function () {
                isEmailValid = validate($(this), @Html.Raw(@"/.+\@.+\..+/"));            
                canPurchase();
            });

            $('#purchase').on('click', function () {
                if(!canPurchase())
                    return;

                isPurchasing = true;
                var userName = $('#userName').val();
                var phone = $('#phone').val();
                var email = $('#email').val();
                var comment = $('#comment').val();
                var city = $('#city').val();
                var address = $('#address').val();
                $.post("/order/add", { user: userName, phone: phone, email : email, city: city, address: address, comment : comment })
               .done(function () {
                   isPurchasing = false;
                   $('#orderSubmitted').modal('show');
               });
            });

            $('#close').on('click', function ()
            {
                $('#orderSubmitted').modal('hide');
                window.location = "/";
            });
        
            $('#modalclose').on('click', function ()
            {
                $('#orderSubmitted').modal('hide');
                window.location = "/";
            });
        }); 
    </script>
}

@if (!Model.Items.Any())
{
    <div class="alert alert-warning">
        <strong>Увага!</strong><p>Щоб зробити замовлення спершу добавте товари в корзину.</p>
    </div>
}
else
{
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <div class="form-horizontal">

                        <label for="userName" class="control-label">
                            Ім'я*:</label>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" id="userName" placeholder="Ім'я">
                        </div>
                        <div class="help-block hidden">
                            Невірні дані. Приклад: Артем Наконечний<i class='glyphicon glyphicon-exclamation-sign'></i>
                        </div>

                        <label for="phone" class="control-label">
                            Мобільний телефон*:</label>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-bell"></i></span>
                            <input type="tel" class="form-control" id="phone" title="Введений Вами телефон не відповідає формату."
                                placeholder="###-###-##-##">
                        </div>
                        <div class="help-block hidden">
                            Невірні дані. Приклад: 063 1111 222<i class='glyphicon glyphicon-exclamation-sign'></i>
                        </div>

                        <label for="email" class="control-label">
                            Пошта*:</label>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="text" class="form-control" id="email" placeholder="">
                        </div>
                        <div class="help-block hidden">
                            Невірні дані. Приклад: anakon@gmail.com<i class='glyphicon glyphicon-exclamation-sign'></i>
                        </div>

                        <label for="city" class="control-label">Місто:</label>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input type="text" class="form-control" id="city" placeholder="">
                        </div>
                        <div class="help-block hidden">
                            Невірні дані.<i class='glyphicon glyphicon-exclamation-sign'></i>
                        </div>

                        <label for="address" class="control-label">Адреса:</label>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input type="text" class="form-control" id="address" placeholder="">
                        </div>
                        <div class="help-block hidden">
                            Невірні дані.<i class='glyphicon glyphicon-exclamation-sign'></i>
                        </div>


                        <label for="comment" class="control-label">
                            Коментар:</label>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                            <textarea id="comment" class="form-control" cols="1" rows="2"></textarea>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <strong>Ваше замовлення</strong><a href="@Url.Action("index", "cart")" class="pull-right">
                        редагувати</a>
                    <table class="table">
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>
                                        @item.Product.DisplayName
                                    </td>
                                    <td>
                                        @item.Product.CalculatedPrice.PriceFinalUah грн. * @item.Quantity
                                    </td>
                                    <td>
                                        <span class="priceUahSmall">@item.TotalItemPrice.ToFormatString() грн.</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.Partial("TotalSum", Model.TotalPrice)
                    <br />
                </div>
            </div>
            <button id="purchase" class="btn btn-default btn-lg btn-primary pull-right disabled">
                Відправити замовлення</button>
        </div>
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
            class="modal fade" id="orderSubmitted" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="modalclose" aria-hidden="true" data-dismiss="modal" class="close" type="button">
                            ×</button>
                        <h3 id="myModalLabel">Замовлення прийнято</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                            Ваше замовлення прийнято. Наш менеджер звяжеться з вами в найблищий час! Дякуємо
                            за покупку!
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span>
                            <button id="close" class="btn btn-default btn-primary">
                                Гаразд</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
