@model WebMarket.DAL.Entities.Voltmeter

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Voltmeter</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinOperationValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinOperationValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxOperationValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxOperationValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MeasurementError)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MeasurementError)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IndicationError)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IndicationError)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinInputVoltage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinInputVoltage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxInputVoltage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxInputVoltage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PriceUsd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PriceUsd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PriceUah)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PriceUah)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Weight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Photo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Photo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SuppliedItems)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SuppliedItems)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WorkingConditions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkingConditions)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dimension)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dimension)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Warranty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Warranty)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsAvailable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAvailable)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsTopBuyed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsTopBuyed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsNew)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsNew)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Discount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Info)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Info)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TypeString)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypeString)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
